{% extends 'base.html' %}

{% block content %}

{% if submitted %}
Your Story Was Created!
{% else %}
<br><br><br><br>
<div class="container bg-light p-5 " style="color:white">
    <h2 style="color:black">EDIT CHAPTER</h2>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Update" class="btn btn-secondary">
    </form>
    <br>

    <a href="{% url 'show-story' story.id %}" type="button" class="btn btn-secondary rounded submit px-3" style="background-color: #ab201c;">Back to the Story</a>
</div>
{% endif %}

<br><br><br><br>

{% endblock %}

