{% extends 'base.html' %}

{% block content %}

<div class="form-bg p-5 mb-4">
    <div class="container" style="width: 1050px">
        <div class="form-container row">
            <div class="left-content">
                <h3 class="title">StoriesWithinUs</h3>
                <h4 class="sub-title">Writing our stories together!</h4>
            </div>
            <div class="right-content">
                <h3 class="form-title">Login</h3>
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <label>Username / Email</label>
                        <input type="text" name="username" class="form-control" data-nlok-ref-guid="c420ec84-2970-4a37-9c25-b6fad6f1c840" autocomplete="off"><div id="norton-idsafe-field-styling-divId" style="height:24px;max-width:24px;vertical-align:top; position:absolute; top:553.140625px;left:153.25806451612902px;cursor:pointer;resize: both;z-index:2147483646;"><img id="norton-idsafe-field-logo-imgId" src="chrome-extension://admmjipmmciaobhojoghlmleefbicajg/images/npw-badge-icon-locked.svg" style="min-height:24px; min-width:24px;display:block;"></div>
                    </div>
                    <div class="form-group">
                    <label>Password</label>
                        <input type="password" name="password" class="form-control" data-nlok-ref-guid="29f25083-d0be-42a7-8b73-5818cfec5dff" autocomplete="off"><div id="norton-idsafe-field-styling-divId" style="height:24px;max-width:24px;vertical-align:top; position:absolute; top:798.140625px;left:153.25806451612902px;cursor:pointer;resize: both;z-index:2147483646;"><img id="norton-idsafe-field-logo-imgId" src="chrome-extension://admmjipmmciaobhojoghlmleefbicajg/images/npw-badge-icon-locked.svg" style="min-height:24px; min-width:24px;display:block;"></div>
                    </div>
                    <button class="btn signin" data-nlok-ref-guid="d086e1a4-3722-4bf0-b6ff-4c52e6ba96b9">Login</button>
                    <div class="remember-me">
                        <input type="checkbox" class="checkbox">
                        <span class="check-label">Remember Me</span>
                    </div>
                    <a href="{% url 'forget-password' %}" class="forgot">Forgot Password</a>
                </form>
                <span class="separator">OR</span>
                <ul class="social-links">
                    <li><a href=""><i class="fab fa-google"></i> Login with Google</a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i> Login with Facebook</a></li>
                </ul>
                <span class="signup-link">Don't have an account? Sign up <a href="register_user">here</a></span>
            </div>
        </div>
    </div>
</div>


{% endblock %}




