{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container bg-light form-group p-4 mt-5 mb-5" style="color:black">
    <div style="color:black; font-size:24px"> CHANGE PASSWORD </div>
    <br>
    <form action="" method ="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background-color: #ab201c;">Submit</button>
    </form> 
    <br>
    <hr>
    <a href="{% url 'profile' request.user.id %}" type="button" class="btn btn-secondary rounded submit px-3" style="background-color: #ab201c;">Back to profile</a>
</div>

{% endblock %}