{% extends 'base.html' %}

{% block content %}

<div class="container bg-light p-5 mt-5 mb-5" style="color:black;">
    <div style="font-size:24px"> RESET PASSWORD </div>
    <div class="mt-5" id="forgot-password-form">
        <form action="#" method="POST">
            <div class="form-group mb-3">
                A one time link has been send to the email you typed in. If you haven't receive it, please click the link below:
            </div>
            <div class="form-group">
                <a type="submit" class="form-control btn btn-primary rounded submit px-3" style="background-color: #ab201c;">Resend</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}